<h1 class="titulo">~ Chat-App ~</h1>
<p class="usuario"> Usuario: <span class="userstyle" id="userName"></span></p>
<div class="panel" >

<div  id="chatPanel"></div>
<br/> <br/>
<a class="scroll " id="scroll"></a>
</div>
<div class="contenedor">
    <h2 class="escribe">Escribe aquí...</h2>
<input class="input" type="text" id="inputMsg"/>
<button  class="btn" id="sendMsg"><a class="scroll" href="#scroll">Enviar</a></button>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>